// Colors
$button-text-color: white;
$button-border-color: white;
$button-background-color: rgba(62,66,54,0.75);
$background: black;

// Dimensions
$button-height: 50vh;
$icon-height: 52vh;
$icon-width: 52vw;
$button-border-width: 2vmax;

// Font Sizes
$button-font-size: 22vh;
$icon-font-size: 27vh;